
<div class="row justify-content-md-center text-center experience">
    <div class="col col-3 bg-white backend skills">
        <i class="bi-hdd-fill"></i>
        <h3>Backend</h3>

        <p>
            Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            ASP.NET Core, Nest, SQL Server, Google FireBase, MongoDB
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Dapper</li>
            <li>Queries especiales</li>
            <li>Principios SOLID</li>
        </ul>
    </div>

    <div class="col col-3 bg-white frontend skills">
        <i class="bi-code-slash"></i>
        <h3>Frontend</h3>

        <p>
            Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            Angular, TypeScript, Bootstrap, Ionic, Blazor
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>Blazor</li>
            <li>JQuery</li>
            <li>MarkDown</li>
            <li>HTML, CSS, JS</li>
            <li>Ionic</li>
        </ul>
    </div>

</div>