
<div class="text-center">
    <h1 class="display-4">Soy Marco Julian Morales, 26 años</h1>
    <h2>Soy un programador full stack especializado en tecnologias Angular y .Net</h2>

    <img src="~/foto.jpg" alt="Foto de Marco" id="foto" />
</div>

<div class="text-center">
    <img id="img-dotnet" src="~/dotnet.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He trabajado en proyectos importantes para empresas, desde el 2020, en mis principales
            utilicé Angular para el front-end y C#/.Net para el back-end, así como Sql Server para la base de datos,
            algunos frameworks o librerías utilizados fueron Entity Framework, Dapper, Bootstrap, Angular Material.
        </p>
    </div>
</div>