@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Marco Julian Morales</h3>
    <h4>I'm a Computer Sciences Engineer</h4>
    <img id="Marcophoto"
         src="~/img/foto.jpg" alt="Marcophoto" />
</div>

<div class="text-center">
    <img id="dotnetimg" src="~/img/dotnet.png" alt="Marcophoto" alt="dotnetlogo" />

</div>

<div>
    <div class="row justify-content-center">
        <div class="col col-md-9 welcomeSection">
            <h1>Welcome to my portofolio</h1>
            <p>
                I'm an IT engineer with some
                experience in different programming
                technologies, I'm passionate for
                technology and like learning more
                programming skills, like to work with
                people and advance together to a
                common goal as enterprises and
                employees, ever looking for grow
                personally and professionally.
            </p>
        </div>
    </div>
</div>