@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin-top:-175px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0;">
            <i class="bi bi-hdd"></i>
            <h3>Back-end</h3>
            <p>
                I work in the development, testing and deploying of back-end processes.
            </p>
            <p>
                Stack:
            </p>
            <p>
                ASP.Net Core, SQL Server
            </p>
            <p class="text-primary headercustom">
                Experience:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.Net Core</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>SOLID Principles</li>
            </ul>
        </div>
        <div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0;">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                I Create Front-ends that work with bussiness requirements
            </p>
            <p>
                Stack:
            </p>
            <p>
                Angular, Blazor, Ionic, Html, Css, JS
            </p>
            <p class="text-primary headercustom">
                Experience:
            </p>
            <ul>
                <li>Ionic Apps</li>
                <li>Angular Material</li>
                <li>Java</li>
                <li>Bootstrap</li>
                <li>Other</li>
                <li>Clean Code</li>
            </ul>
        </div>
    </div>
</div>