@model HomeIndexDTO

@{
    ViewData["Title"] = "Inicio";
}

@*<h3>Ejemplo de Servicios alcances</h3>
<div>Transient: <b style="color:red">@Model.ejemplo1.transient</b></div>
<div>Scoped: <b style="color:green">@Model.ejemplo1.scoped</b></div>
<div>Singleton: <b style="color:blue">@Model.ejemplo1.singleton</b></div>*@

<partial name="_Presentacion"></partial>

<partial name="_Habilidades"></partial>

<partial name="_SeccionProyectos" model="Model.proyectos"></partial>