
@{
    ViewData["Tittle"] = "Thank you";
}
<h1>Thanks for contacting me</h1>
<p>I will respond to your message as soon as possible</p>
<div>
    <a asp-action="Index" asp-controller="Home">Return to Home</a>
</div>
